.block-component {
  margin:70px 0;
  display:flex;
  height:300px;
  .image-block {

    position:relative;
    width:60%;
    background:url(/images/rgps_photo-9.jpg) no-repeat center center;
    background-size: cover;
  }
  .color-block {
    background:$orange;
    color:$white;
    width:40%;
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    text-align:center;
    p {
      font-style:italic;
    }
  }
  @include bp(small){
    margin:35px 0;
    display:block;
    position:relative;
    height:225px;
    .image-block, .color-block {
      height:175px;
      position:absolute;
    }
    .image-block {
      width:65%;
      top:0;
      left:0;
      box-shadow:0px 0px 6px 0px rgba(0,0,0,0.30);
    }
    .color-block {
      width:45%;
      bottom:0;
      right:0;
      height:145px;
      p {
        font-size:0.7em;
        margin-left:25%;
      }
    }

  }
}
