<div class="header-component">
  <hr/>
  <h1 class="home-header">Menu</h1>
  <div class="content-area menu-component">
    <h2>Wraps</h2>
    <ul class="food-menu">
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
    </ul>

    <h2>Salads</h2>
    <ul class="food-menu">
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
    </ul>

    <h2>Other</h2>
    <ul class="food-menu">
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
      <li class="food-menu-item">
        <h4>Coolest Rap Ever | $9</h4>
        <p>Quote or something here. Bacon ipsum dolor amet </p>
      </li>
    </ul>
  </div>
</div>
